<%- include('header') -%>
			<form action="/login" method="post">
                <h1>Login</h1>

				<section>
					<label for="username">Username:</label>
					<input id="username" name="username" type="text"  required >
				</section>
				<section>
					<label for="password">Password:</label>
					<input id="password" name="password" type="text"  required>
				</section>
				<button type="submit">Login</button>
			</form>			